<!DOCTYPE html>
<!--Saber was here-->
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets 'tools/bootstrap/scss/_bootstrap.scss' filter='scssphp' output='css/bootstrap.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}

        <title>Marowhack - </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="container-fluid">

        <header class="row">
            {% block header %}{% endblock %}
        </header>

        <main class="row">
            {% block body %}{% endblock %}
        </main>

        <footer class="row">
            {% block footer %}{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('tools/jquery/jquery-3.3.1.min.js') }}"></script>
            {% endblock %}
        </footer>
    </div>
    </body>
</html>
