{% extends 'SiteBundle::layout.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('bundles/transfert/js/transfert_index.js') }}"></script>
{% endblock %}

{% block body %}


<h1 class="title-drag">Drag files here</h1>
<form enctype="multipart/form-data" id="form-upload">
    <div class="droparea">
        <img src="../../images/file.png" alt="" class="img-background">
        <input type="file" name="files[]" multiple="multiple" class='file-input' width="100%">

    </div>

</form>

<div class="row-fluid container-result">
    <h1 class="title-drag">Get files from here</h1>
    <div class="result_div col-md-6 col-md-offset-3 ">

        <input type="hidden" id="url-update-files" value="{{ path('transfert_get_files') }}">
        <ul class="result" id="results">

        </ul>
    </div>

</div>

{% endblock %}